<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Radio Call Assignment</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/chota-0.8.0.min.css">
  <style>
    :root {
      --font-family-sans: "Space Mono", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      --color-primary: #007acc;
      --color-primaryFaded: #e6f5ff;
      --color-pulseStart: rgba(0, 122, 204, 0.7);
      --color-pulseEnd: rgba(0, 122, 204, 0);
      --font-size: 1.6rem;
      --font-sizeBig: 2.0rem;
    }

    .big {
      margin-top: 1rem;
      font-size: var(--font-sizeBig);
    }

    .button.success {
      /* based off #28bd14 */
      --color-pulseStart: rgba(40, 189, 20, 0.7);
      --color-pulseEnd: rgba(40, 189, 20, 0);
    }

    #pin-code {
      /* based off #d2d6dd */
      --color-pulseStart: rgba(210, 214, 221, 0.7);
      --color-pulseEnd: rgba(210, 214, 221, 0);
    }

    @media screen and (max-width: 799px) {
      :root {
        --font-size: 1.4rem;
        --font-sizeBig: 1.7rem;
      }
    }

    @media screen and (max-width: 599px) {
      :root {
        --font-size: 1.3rem;
        --font-sizeBig: 1.4rem;
      }
    }

    @media screen and (min-width: 600px) {
      /* From chota.css */
      .is-right-not-sm {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
      }
    }

    body {
      padding-bottom: 150px;
    }

    #volume-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: var(--bg-color);
      padding-top: 5px;
      border-bottom: 1px solid var(--color-lightGrey);
      z-index: 1;
    }

    table.limit-right-width td:last-child, table.limit-right-width th:last-child {
      width: 35%;
    }

    #terms-table {
      width: auto;
    }

    #terms-table input[type="checkbox"] {
      width: 2.5rem;
      height: 2.5rem;
      pointer-events: none;
    }

    table.tight button {
      white-space: nowrap;
    }

    h1, h2, h3, h4, h5, h6,
    button, input, .bold, caption {
      font-weight: bold;
    }

    [x-cloak] {
      display: none !important;
    }

    .italic {
      font-style: italic;
    }

    .underline {
      text-decoration: underline;
    }

    hr {
      margin: 50px 0;
    }

    .bd-choice, .table-hover {
      background-color: var(--color-primaryFaded) !important;
    }

    .pointer {
      cursor: pointer;
    }

    .pulse {
      animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      transition: all 300ms ease-in-out;
      box-shadow: 0 0 0 0 var(--color-pulseStart);
    }

    @keyframes pulse {
      to {
        box-shadow: 0 0 0 35px var(--color-pulseEnd);
      }
    }
  </style>

  <script src="/static/assets/twilio-1.14.0.min.js"></script>
  <script src="/static/assets/alpine-2.8.0.min.js" defer></script>
  <script src="/static/assets/alpine-magic-helpers-1.0.0.min.js"></script>
  <script>
    var countryCode = {{ geoip['country_code']|tojson }}
    var blockHangupSeconds = {% if debug %}10{% else %}{{ block_hangup_seconds }}{% endif %}
    var debug = {{ debug|tojson }}
    var show = {{ show|tojson }}
    var topic = {{ topic|tojson }}
    var assignmentId = {{ assignment_id|tojson }}
    var workerId = {{ worker_id|tojson }}
    var hitId = {{ hit_id|tojson }}

    function currentTimestamp() {
      return Math.round(new Date() / 1000)
    }

    function radioCall() {
      return {
        step: -1,
        term: 0,
        choice: null,
        device: null,
        connection: null,
        inputVolume: 0,
        outputVolume: 0,
        pinCode: null,
        pinCodeInput: '',
        pinVerifying: false,
        callError: false,
        callStart: null,
        callEnd: null,
        callDuration: -1,
        hangupBlocked: false,
        workerAlias: "unset",
        twimletCallerId: "unset",
        callerId: "unset",
        done: false,
        init: async function() {
          if (workerId === null || hitId === null) {
            this.pinCode = Math.floor(Math.random() * 10000).toString().padStart(4, '0')
          } else {
            // Deterministically generate pincode (and don't put it in source!)
            var s = workerId + hitId + workerId + hitId
            var n = 0
            for (var i = 0; i < s.length; i++) {
              n += s.charCodeAt(i) * ((i % 15) + 1)
            }
            this.pinCode = (n % 10000).toString().padStart(4, '0')
          }
          if (debug) {
            this.pinCodeInput = this.pinCode
          }

          try {
            var response = await fetch(`/amazon/token/${countryCode}/${workerId}`)
            var data = await response.json()
          } catch (err) {
            alert('An error occurred loading the assignment. Please refresh and try again.')
            return
          }

          device = new Twilio.Device(data.token, {
            closeProtection: true,
            codecPreferences:	['opus', 'pcmu'],
            enableRingingState: true,
            fakeLocalDTMF: true
          })

          device.on('ready', (device) => this.device = device)
          device.on('connect', (connection) => {
            this.callError = false

            connection.on('volume', (inputVolume, outputVolume) => {
              this.inputVolume = inputVolume
              this.outputVolume = outputVolume
            })
            connection.on('disconnect', () => {
              this.hangUp()
              if (this.step == 5) {
                this.callEnd = currentTimestamp()
                this.done = true
                setTimeout(() => this.$scroll('#done'), 20)
              } else {
                this.setStep(2, true)
              }
            })

            this.connection = connection
            this.setStep(3)
          })
          device.on('error', (err) => {
            this.callError = err.code == 31208 ? 'Please enable your microphone and try again.' : true
            this.setStep(2, true)
            this.hangUp()
          })
          setInterval(() => {
            if (this.callStart) {
              if (this.callEnd) {
                this.callDuration = this.callEnd - this.callStart
                this.hangupBlocked = false
              } else {
                this.callDuration = currentTimestamp() - this.callStart
                this.hangupBlocked = this.step == 5 && (this.callDuration < blockHangupSeconds)
              }
            } else {
              this.hangupBlocked = false
            }
          }, 1000)
        },
        setStep: function(step, force) {
          if (force) {
            this.step = step
          } else {
            this.step = Math.max(this.step, step)
          }
          setTimeout(() => {
            var offsetHeight = document.getElementById('volume-nav').offsetHeight
            this.$scroll('#step' + step, {offset: offsetHeight})
          }, 20)
        },
        call: function() {
          this.step = 2
          this.callStart = this.callEnd = null
          this.callDuration = -1
          this.hangupBlocked = false
          this.done = false

          this.device.connect({AmazonPinCode: this.pinCode, Topic: topic ? topic['code'] : 'none'})
        },
        hangUp: function(skipDisconnect) {
          this.device.disconnectAll()
          this.connection = null
          this.inputVolume = this.outputVolume = 0
        },
        verifyPinCode: async function() {
          if (this.pinCodeInput.trim() === this.pinCode) {
            var callSid = this.connection.parameters.CallSid
            if (callSid) {
              this.pinVerifying = true

              try {
                var url = `/amazon/update-sid/${topic ? topic.code : 'none'}/${this.choice || 0}/${show}/${countryCode}/${workerId}/${callSid}`
                var response = await fetch(url, {method: 'POST'})
                var data = await response.json()
              } catch (err) {
                this.pinVerifying = false
                return
              }

              if (data.success) {
                this.workerAlias = data.worker_alias
                this.callerId = data.caller_id
                this.twimletCallerId = data.twimlet_caller_id
                this.callStart = currentTimestamp()
                this.hangupBlocked = true
                this.setStep(5)
              } else {
                this.callError = true
                this.setStep(2, true)
                this.hangUp()
              }
              this.pinVerifying = false
            } else {
              this.callError = true
              this.setStep(2, true)
              this.hangUp()
            }
          } else {
            alert('Incorrect PIN code. Try again.')
          }
        }
      }
    }

  </script>
</head>
<body>
  {% if development_mode %}
    <div class="bg-error"><h4 class="text-center text-white">WARNING: Development Environment</h4></div>
  {% endif %}

  <h1 class="text-center">
    <span class="hide-sm hide-xs">&#x{% if preview or not topic %}1F389{% else %}{{ topic['emoji'] }}{% endif %}&#x1F399;️&#xFE0F;&#x1F4FB;</span>
    <u class="italic">Call a Radio Show{% if not preview and topic %} and Talk About {{ topic['name']|title }}{% endif %}</u>
    &#x1F4FB;&#x1F399;️&#xFE0F;&#x{% if preview or not topic %}1F389{% else %}{{ topic['emoji'] }}{% endif %}
  </h1>

  <div class="container" x-data="{show: true}" x-init="show = {{ force_no_browser_support|tojson }}" x-show="show">
    <div class="bd-error" style="padding: 15px; margin: 15px">
      <h1 class="text-error is-marginless">
        WARNING: Your web browser is <u>NOT</u> supported. Please use the <u>most recent</u>
         one of the following: <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>,
        <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Mozilla Firefox</a>,
        <a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a>,
        or <a href="https://www.apple.com/safari/" target="_blank">Apple's Safari</a> to complete this
        assignment.
      </h1>
    </div>
  </div>

  <section x-data="radioCall()" {% if not preview %}x-init="init()" {% endif %}class="container{% if force_no_browser_support %} is-hidden{% endif %}" x-cloak>
    <div id="volume-nav" class="grid" x-show="debug || (device !== null && connection !== null)">
      <div class="row is-marginless is-paddingless">
        <div class="col-2 is-vertical-align is-right-not-sm">&#x1F399;️&#xFE0F;&#x1F3A4;&#xFE0F; Mic:</div>
        <div class="col-2 is-vertical-align">
          <progress class="is-full-width" x-bind:value="inputVolume.toString()" min="0" max="0.65"></progress>
        </div>
        <div class="col-1"></div>
        <div class="col-3 is-vertical-align">
          <button
            @click.prevent="hangUp()"
            class="button is-full-width"
            style="margin-top: 5px"
            x-bind:class="{error: !hangupBlocked, dark: hangupBlocked}"
            x-bind:disabled="hangupBlocked || (debug && (connection === null))"
            x-text="hangupBlocked ? `Talk for ${Math.max(blockHangupSeconds - callDuration - 1, 0)} seconds` : 'End Call'"
          ></button>
        </div>
        <div class="col-2 is-vertical-align is-right-not-sm">&#x1F509; Speaker:</div>
        <div class="col-2 is-vertical-align">
          <progress class="is-full-width" x-bind:value="outputVolume.toString()" min="0" max="0.65"></progress>
        </div>
      </div>
    </div>

    <div>
      <p>
        This is a <strong>funny assignment</strong> &#x1F602;&#x1F602;&#x1F602; where you'll
        use your web browser to call &#x1F4DE; people on a <em>live</em> radio show. &#x1F4FB;
      </p>

      <p>
        You will talk to the hosts of the radio show{% if topic %}
          about
          {% if preview %}the topic in the assignment.{% else %}
            <strong>your {{ topic['description'] }}</strong>.
            &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% endif %}
          {% else %}.{% endif %}
      </p>

      <p>
        This assignment will take approximately 5 to 10 minutes to complete.
        &#x1F552;&#x1F552;&#x1F552;
        <br>
        {% set block_hangup_seconds_pretty = ((block_hangup_seconds / 60|round(1))|string).rstrip('.0') %}
        You will have to stay on the call for <em>at least {{ block_hangup_seconds_pretty }}
        minute{% if block_hangup_seconds_pretty|float != 1.0 %}s{% endif %}</em>, but you are welcome
        to talk as long as you would like!
      </p>

      <p class="text-center">
        <button
          @click.prevent="setStep(0)"
          class="button big {% if preview %}dark{% else %}primary{% endif %}"
          x-bind:disabled="{% if preview %}true{% else %}step > -1{% endif %}"
          {% if not preview %}
            x-bind:class="{pulse: step == -1}"
          {% endif %}
        >
          {% if preview %}
            You are currently <em class="underline">previewing</em> this assignment. Press Accept to start.
          {% else %}
            Continue With Assignment
          {% endif %}
        </button>
      </p>
    </div>

    <div x-show="step >= 0 || debug">
      <hr>
      <h2 id="step0"><em>Important Terms &amp; Conditions</em> &#x2696;&#xFE0F;&#x2696;&#xFE0F;&#x2696;&#xFE0F;</h2>

      <blockquote>
        Carefully read each term &amp; condition below, then click to agree.<br>
        <span class="text-error">If you <strong>disagree</strong> with <em>any</em> of these terms,
          <em><strong><u>DO NOT</u> continue with this assignment!</strong></em></span>
      </blockquote>

      <table id="terms-table" class="tight">
        <tbody>
          <tr>
            <td class="bold underline text-center is-marginless is-paddingless">I agree</th>
            <td class="is-marginless is-paddingless">&nbsp;</th>
          </tr>

          {% set render_term_ns = namespace(num=0, total=-1) %}
          {% macro render_term_row(last=False) %}
            {% set num = render_term_ns.num %}
            {% set term_check %}term == {{ num }}{% if num == 0 %} && step == 0{% endif %}{% endset %}
            <tr
              @click.prevent="if (term == {{ num }}) {term += 1; {% if num == 0 %}$scroll('#terms-table'){% endif %}{% if last %}$nextTick(() => $scroll('#accept-terms-scroll')){% endif %}}"
              x-bind:class="{'table-hover': {{ term_check }}, pointer: term == {{ num }}, pulse: {{ term_check }}}"}"
            >
              <td class="text-center">
                <input type="checkbox" x-bind:readonly="term > {{ num }}" x-bind:checked="term > {{ num }}" x-bind:disabled="term < {{ num }}">
              </td>
              <td>
                {{ caller() }}
              </td>
            </tr>
            {% set render_term_ns.num = num + 1 %}
          {% endmacro %}

          {% call render_term_row() %}
            <strong>You <u>MUST</u> speak in English.</strong>
          {% endcall %}
          {% call render_term_row() %}
            <strong>
              You <u>MUST</u> have a <em>working</em> headset &#x1F3A7; (or speaker &#x1F509;)
                with a <u>microphone</u>. &#x1F3A4;&#xFE0F;&#x1F399;️&#xFE0F;
            </strong>
          {% endcall %}
          {% call render_term_row() %}
            <strong>
              Your call will be <u>recorded</u> and <u>broadcast</u> on a live Internet radio show &#x1F4FB; (and podcast).
            </strong>
          {% endcall %}
          {% call render_term_row() %}
            <span class="text-error">You should <strong><u>NOT</u></strong> mention Amazon Mechanical Turk.</span>
          {% endcall %}
          {% call render_term_row() %}
            You can have any conversation you would like{% if topic %}, but <strong>mention your {{ topic['description'] }}.</strong>
            &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% else %}.{% endif %}
          {% endcall %}
          {% call render_term_row() %}
            If no one answers, please leave a voicemail{% if topic %} message talking about {{ topic['name'] }}.
            &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% else %}.{% endif %}
          {% endcall %}
          {% call render_term_row() %}
            You must have a <strong>good</strong> sense of <strong>humour</strong>. &#x1F602;&#x1F602;&#x1F602;<br>
            <em>You might be made fun of!</em> &#x1F632;&#x1F632;&#x1F632;<br>
            The conversation may be inapproriate or NSFW (not safe for work). &#x1F601;&#x1F51E;&#x1F601;&#x1F51E;<br>
            <strong class="text-error">
              If you are a sensitive person please <u>DO NOT</u> continue with this assignment!
            </strong>
          {% endcall %}
          {% call render_term_row(last=True) %}
            <em>
              You <strong>may</strong> use a <u>fake name</u>.<br>
              You <strong>do not</strong> have to <u>tell the truth</u>.<br>
              You <strong>may</strong> <u>lie</u> about your <u>personal life</u>.<br>
              You <strong>do not</strong> need to say <u>anything</u> you're <u>uncomfortable</u> with.
            </em>
          {% endcall %}
        </tbody>
      </table>

      <h3 id="accept-terms-scroll" class="text-success" x-show="term >= {{ render_term_ns.num }}">
        <em>All right! Are you ready to have some fun?!</em>
        &#x1F973;&#x1F92A;&#x{{ topic['emoji']}};&#x1F4DE;&#x1F4FB;&#x1F602;
      </h3>

      <p class="text-center">
        <button class="button big primary" @click.prevent="setStep({% if topic %}1{% else %}2{% endif %})" x-bind:disabled="step > 0 || (term < {{ render_term_ns.num }} && !debug)" x-bind:class="{pulse: step == 0 && term == {{ render_term_ns.num }}}">
          I have <u>carefully</u> read, understand, and agree to the above terms &amp; conditions.
        </button>
      </p>
    </div>

    {% if topic %}
      {% set step_offset = 0 %}
      <div x-show="step >= 1 || debug">
        <hr>
        <h2 id="step1"><em><u>Step 1</u>: Describe Your {{ topic['description']|title }}</em>
          &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};</h2>

        <blockquote>
          Click on the type that most closely matches your <u><em>{{ topic['description'] }}</em></u>
          from the {{ topic['chart_name'] }} below.
        </blockquote>

        <table class="striped limit-right-width text-center">
          <caption>{{ topic['chart_name']|title }}</caption>
          <thead>
            <tr>
              <th>Select</th>
              <th>Type</th>
              <th>Diagram</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in topic['choices'] %}
              <tr
                x-bind:class="{'bd-choice': choice === {{ loop.index0|tojson }}, pointer: step == 1}"
                @mouseenter="if (choice === null) { $event.target.classList.add('table-hover') }"
                @mouseleave="$event.target.classList.remove('table-hover')"
                @click.prevent="if (choice === null) { choice = {{ loop.index0 }}; setStep(2) }"
              >
                <td>
                  <button
                    @click.prevent="if (choice !== null) { choice = {{ loop.index0 }}; setStep(2) }"
                    class="button primary"
                    x-text="choice === {{ loop.index0|tojson }} ? 'Selected' : ('Select {{ choice['name'].split(':')[0] }}')"
                    x-bind:disabled="choice === {{ loop.index0|tojson }}"
                  ></button>
                </td>
                <td class="bold">{{ choice['name'] }}</td>
                <td><img class="bd-light" srcset="/static/images/{{ topic['code'] }}/{{ loop.index0 }}.jpg 2x"></td>
                <td class="italic">{{ choice['description'] }}.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <br>

        <p class="italic bold" x-text="choice === null ? 'You must make a choice above to continue.' : `You selected ${topic.choices[choice].name} as your ${topic.description}.`"></p>
      </div>
    {% else %}
      {% set step_offset = 1 %}
    {% endif %}

    <div x-show="step >= 2 || debug">
      <hr>
      <h2 id="step2"><em><u>Step {{ 2 - step_offset }}</u>: Make the Call</em> &#x260E;&#xFE0F;&#x260E;&#xFE0F;&#x260E;&#xFE0F;</h2>

      <blockquote>
        Click the button below to place the call in your browser.<br>
        <strong class="text-success">You will need to enable your microphone.</strong>
        &#x1F3A4;&#xFE0F;&#x1F399;️&#xFE0F;&#x1F3A4;&#xFE0F;&#x1F399;️&#xFE0F;&#x1F3A4;&#xFE0F;&#x1F399;️&#xFE0F;
      </blockquote>

      <h3 class="text-error" x-show="callError" x-text="typeof callError === 'string' ? callError : 'An error occurred. Please try again.'"></h3>

      <p class="text-center">
        <button
          @click.prevent="call()"
          class="button big success"
          x-bind:disabled="device === null || connection !== null"
          x-bind:class="{pulse: step == 2 && device !== null && connection === null}"
        >
          &#x1F4DE;&#x1F4DE; Start Call &#x1F4DE;&#x1F4DE;
        </button>
      </p>
    </div>

    <div x-show="step >= 3 || debug">
      <hr>
      <h2 id="step3"><em><u>Step {{ 3 - step_offset }}</u>: Repeat the Word</em> &#x1F501;&#x1F501;&#x1F501;</h2>

      <blockquote>
        You will be called and the voice will say a word.<br>
        Repeat the word after the tone, then stay silent for a few moments.<br>
        When you have successfully done this, click <em>Ready for Step {{ 4 - step_offset }}</em> below.
      </blockquote>

      <p class="text-center">
        <button @click.prevent="setStep(4)" class="button big primary" x-bind:class="{pulse: step == 3}" x-bind:disabled="step != 3">Ready for Step {{ 4 - step_offset }}</button>
      </p>
    </div>

    <div x-show="step >= 4 || debug">
      <hr>
      <h2 id="step4"><em><u>Step {{ 4 - step_offset }}</u>: Enter the PIN Code</em> &#x1F511;&#x1F511;&#x1F511;</h2>

      <blockquote>You will be given a PIN code. Enter it below and then click <em>Verify PIN Code.</em></blockquote>

      <div class="row">
        <div class="col-3 is-vertical-align is-right-not-sm">
          <label for="pin-code" class="big bold">PIN Code:</label>
        </div>
        <div class="col-9">
          <input
            id="pin-code"
            class="big bold"
            style="max-width: 250px;"
            type="text"
            name="PinCode"
            x-model="pinCodeInput"
            pattern="\d*"
            maxlength="4"
            x-bind:disabled="step != 4 || pinVerifying"
            x-bind:class="{pulse: step == 4 && !pinVerifying}"
          >
        </div>
      </div>

      <p class="text-center">
        <button
          @click.prevent="verifyPinCode()"
          class="button big primary"
          x-bind:disabled="step != 4 || pinVerifying"
          x-bind:class="{pulse: step == 4 && !pinVerifying}"
        >Verify PIN Code</button>
      </p>
    </div>

    <div x-show="step >= 5 || debug">
      <hr>
      <h2 id="step5"><em><u>Step {{ 5 - step_offset }}</u>: Talk About {{ topic['name']|title }}</em> &#x1F4AC;&#x1F4AC;&#x1F4AC;</h2>

      <blockquote>
        <ul>
          <li>
            You are being connected to a <em>live</em> radio show.
            {% if topic %}
              <strong>Please mention <em>your {{ topic['description'] }}.</em></strong>
            {% endif %}
          </li>
          <li>If the call is not answered, please leave a voicemail message{% if topic %} about {{ topic['name'] }}{% endif %}.</li>
          <li>You <em>may</em> be placed on a brief hold.</em></li>
          <li>
            You will have to stay on the call for <em>at least {{ block_hangup_seconds_pretty }}
              minute{% if block_hangup_seconds_pretty|float != 1.0 %}s{% endif %}, but you are welcome
              to talk longer if you're having fun!</em>
          </li>
        </ul>
      </blockquote>

      {% if topic %}
        <template x-if="choice !== null">
          <table class="limit-right-width text-center">
            {# Caption copy doesn't make sense for a single "pool" item #}
            {% if topic['code'] != 'pool' %}
              <caption>{{ topic['chart_name']|title }}</caption>
            {% endif %}
            <thead>
              <tr>
                <th>Type</th>
                <th>Diagram</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="italic bold" x-text="topic.choices[choice].name"></td>
                <td>
                  <img class="bd-light" x-bind:srcset="`/static/images/${topic.code}/${choice}.jpg 2x`">
                </td>
                <td class="italic" x-text="`${topic.choices[choice].description}.`"></td>
              </tr>
            </tbody>
          </table>
        </template>
      {% endif %}

      <h3 x-show="!done">
        <em>Enjoy your call! Say whatever you want!
          <br>You can even insult the hosts!</em> &#x1F389;&#x1F389;&#x1F389;
      </h3>

      <h3
        class="text-error"
        x-show="step == 5 && !done && hangupBlocked"
        x-text="`You must stay on the call for at least another ${Math.max(blockHangupSeconds - callDuration - 1, 0)} seconds.`"
      ></h3>

      <h3 class="text-success" x-show="step == 5 && !done && !hangupBlocked">
          When you are done, you can click the <em class="text-error">End Call</em> button above.
      </h3>

      <p class="text-center">
        <button
          class="button"
          x-bind:class="{pulse: step == 3}"
          x-bind:disabled="device === null || connection === null"
          @click.prevent="connection.sendDigits('#')"
        ># Pound Key #</button>
      </p>
    </div>

    <div x-show="step >= 1 || debug">
      <hr>
      <h2 id="done" class="text-success" x-show="done || debug">
        <em>Congratulations! You are done!</em> &#x1F389;&#x1F389;&#x1F389;
      </h2>

      <blockquote x-show="done || debug">Click <em>Submit Assignment</em> below.</blockquote>

      <form id="submit-form" method="POST" action="{{ submit_to }}/mturk/externalSubmit">
        <!-- prevent naive form submission by making sure assignmentId isn't set until done -->
        <input type="hidden" name="assignmentId" x-bind:value="done ? assignmentId : ''">
        <input type="hidden" name="CallerId" x-bind:value="callerId">
        <input type="hidden" name="CallDurationSeconds" x-bind:value="callDuration">
        <input type="hidden" name="TwimletVoicemailCallerId" x-bind:value="twimletCallerId">
        <input type="hidden" name="WorkerAlias" x-bind:value="workerAlias">
        {% for key, value in geoip.items() %}
          <input type="hidden" name="{{ key.replace('_', ' ').title().replace(' ', '') }}" value="{{ value }}">
        {% endfor %}
        <input type="hidden" name="PinCode" x-bind:value="pinCode">

        <p class="text-center">
          <button
            class="button big"
            type="submit"
            x-bind:class="{primary: done, dark: !done, pulse: done}"
            x-text="'&#x1F4E5;&#x1F4E5; Submit Assignment ' + (done ? '' : ' (enabled when you are done)') + ' &#x1F4E5;&#x1F4E5;'"
            x-bind:disabled="!done"
            {% if not assignment_id or not submit_to %}
              @click.prevent="
                var formData = new FormData(document.querySelector('#submit-form'))
                var alertString = 'You did not appear to come from Amazon. Not submitting.\nForm data:'
                for (var [key, value] of formData.entries()) {
                  if (key !== 'assignmentId' && value) {
                    alertString += `\n * ${key} = ${JSON.stringify(value)}`
                  }
                }
                alert(alertString)
              "
            {% endif %}
          ></button>
        </p>
      </form>
    </div>

{% if debug %}
<pre>
step: <span x-text="JSON.stringify(step)"></span>
term: <span x-text="JSON.stringify(term)"></span>
choice: <span x-text="JSON.stringify(choice)"></span>
inputVolume: <span x-text="JSON.stringify(inputVolume)"></span>
outputVolume: <span x-text="JSON.stringify(outputVolume)"></span>
pinCode: <span x-text="JSON.stringify(pinCode)"></span>
pinCodeInput: <span x-text="JSON.stringify(pinCodeInput)"></span>
pinVerifying: <span x-text="JSON.stringify(pinVerifying)"></span>
callStart: <span x-text="JSON.stringify(callStart)"></span>
callEnd: <span x-text="JSON.stringify(callEnd)"></span>
callDuration:  <span x-text="JSON.stringify(callDuration)"></span>
hangupBlocked: <span x-text="JSON.stringify(hangupBlocked)"></span>
workerAlias: <span x-text="JSON.stringify(workerAlias)"></span>
done: <span x-text="JSON.stringify(done)"></span>
=== Constants ===
countryCode: <span x-text="JSON.stringify(countryCode)"></span>
blockHangupSeconds: <span x-text="JSON.stringify(blockHangupSeconds)"></span>
show: <span x-text="JSON.stringify(show)"></span>
topic: {% if topic %}<span x-text="`${JSON.stringify(topic['code'])} ...`"></span>{% else %}null{% endif %}
assignmentId: <span x-text="JSON.stringify(assignmentId)"></span>
workerId: <span x-text="JSON.stringify(workerId)"></span>
hitId: <span x-text="JSON.stringify(hitId)"></span>
</pre>
{% endif %}

  </section>
</body>
</html>
