<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Radio Call Assignment</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/chota-0.8.0.min.css">
  <style>
    :root {
      --font-family-sans: "Space Mono", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      --color-primary: #007acc;
      --color-primaryFaded: #e6f5ff;
      --color-pulseStart: rgba(0, 122, 204, 0.7);
      --color-pulseEnd: rgba(0, 122, 204, 0);
      --font-size: 1.6rem;
    }

    .big {
      font-size: 2.0rem;
    }

    .button.success {
      /* based off #28bd14 */
      --color-pulseStart: rgba(40, 189, 20, 0.7);
      --color-pulseEnd: rgba(40, 189, 20, 0);
    }

    #pin-code {
      /* based off #d2d6dd */
      --color-pulseStart: rgba(210, 214, 221, 0.7);
      --color-pulseEnd: rgba(210, 214, 221, 0);
    }


    @media screen and (max-width: 799px) {
      :root { --font-size: 1.4rem; }
      .big { font-size: 1.7rem; }
    }

    @media screen and (max-width: 599px) {
      :root { --font-size: 1.3rem; }
      .big { font-size: 1.4rem; }
    }

    @media screen and (min-width: 600px) {
      /* From chota.css */
      .is-right-not-sm {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
      }
    }

    body {
      padding-bottom: 150px;
    }

    #volume-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: var(--bg-color);
      padding-top: 5px;
      border-bottom: 1px solid var(--color-lightGrey);
      z-index: 1;
    }

    table.limit-right-width td:last-child, table.limit-right-width th:last-child {
      width: 35%;
    }

    table.tight {
      width: auto;
    }

    table.tight button {
      white-space: nowrap;
    }

    h1, h2, h3, h4, h5, h6,
    button, input, .bold, caption {
      font-weight: bold;
    }

    [x-cloak] {
      display: none !important;
    }

    .italic {
      font-style: italic;
    }

    .underline {
      text-decoration: underline;
    }

    hr {
      margin: 50px 0;
    }

    .bd-choice, .bd-choice-hover {
      background-color: var(--color-primaryFaded) !important;
    }

    .bd-choice-hover {
      cursor: pointer;
    }

    .pulse {
      animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      transition: all 300ms ease-in-out;
      box-shadow: 0 0 0 0 var(--color-pulseStart);
    }

    @keyframes pulse {
      to {
        box-shadow: 0 0 0 35px var(--color-pulseEnd);
      }
    }
  </style>

  <script src="/static/assets/twilio-1.14.0.min.js"></script>
  <script src="/static/assets/alpine-2.8.0.min.js" defer></script>
  <script src="/static/assets/alpine-magic-helpers-1.0.0.min.js"></script>
  <script>
    var countryCode = {{ geoip['country_code']|tojson }}
    var blockHangupSeconds = {% if debug %}10{% else %}120{% endif %}
    var debug = {{ debug|tojson }}
    var show = {{ show|tojson }}
    var topic = {{ topic|tojson }}
    var assignmentId = {{ assignment_id|tojson }}
    var workerId = {{ worker_id|tojson }} || 'NO_WORKER_ID'
    var hitId = {{ hit_id|tojson }}

    function currentTimestamp() {
      return Math.round(new Date() / 1000)
    }

    function radioCall() {
      return {
        step: 0,
        term: 0,
        choice: null,
        device: null,
        connection: null,
        inputVolume: 0,
        outputVolume: 0,
        pinCode: null,
        pinCodeInput: '',
        pinVerifying: false,
        callError: false,
        callStart: null,
        callEnd: null,
        callDuration: -1,
        hangupBlocked: false,
        done: false,
        init: async function() {
          if (workerId === null || hitId === null) {
            this.pinCode = Math.floor(Math.random() * 10000).toString().padStart(4, '0')
          } else {
            // Deterministically generate pincode (and don't put it in source!)
            var s = workerId + hitId + workerId + hitId
            var n = 0
            for (var i = 0; i < s.length; i++) {
              n += s.charCodeAt(i) * ((i % 15) + 1)
            }
            this.pinCode = (n % 10000).toString().padStart(4, '0')
          }
          if (debug) {
            this.pinCodeInput = this.pinCode
          }

          try {
            var response = await fetch(`/amazon/token/${this.pinCode}/${workerId}`)
            var data = await response.json()
          } catch (err) {
            alert('An error occurred loading the assignment. Please refresh and try again.')
            return
          }

          device = new Twilio.Device(data.token, {
            closeProtection: true,
            codecPreferences:	['opus', 'pcmu'],
            enableRingingState: true
          })

          device.on('ready', (device) => this.device = device)
          device.on('connect', () => {
            this.callError = false
            this.setStep(3)
          })
          device.on('error', (err) => {
            this.callError = err.code == 31208 ? 'Please enable your microphone and try again.' : true
            this.setStep(2, true)
            this.hangUp()
          })
          setInterval(() => {
            if (this.callStart) {
              if (this.callEnd) {
                this.callDuration = this.callEnd - this.callStart
                this.hangupBlocked = false
              } else {
                this.callDuration = currentTimestamp() - this.callStart
                this.hangupBlocked = this.step == 5 && (this.callDuration < blockHangupSeconds)
              }
            } else {
              this.hangupBlocked = false
            }
          }, 1000)
        },
        setStep: function(step, force) {
          if (force) {
            this.step = step
          } else {
            this.step = Math.max(this.step, step)
          }
          setTimeout(() => {
            var offsetHeight = document.getElementById('volume-nav').offsetHeight
            this.$scroll('#step' + step, {offset: offsetHeight})
          }, 20)
        },
        call: function() {
          this.step = 2
          this.callStart = this.callEnd = null
          this.callDuration = -1
          this.hangupBlocked = false
          this.done = false

          this.connection = this.device.connect({AmazonPinCode: this.pinCode})
          this.connection.on('volume', (inputVolume, outputVolume) => {
            this.inputVolume = inputVolume
            this.outputVolume = outputVolume
          })
          this.connection.on('disconnect', () => {
            this.hangUp()
            if (this.step == 5) {
              this.callEnd = currentTimestamp()
              this.done = true
              setTimeout(() => this.$scroll('#done'), 20)
            } else {
              this.setStep(2, true)
            }
          })
        },
        hangUp: function(skipDisconnect) {
          this.device.disconnectAll()
          this.connection = null
          this.inputVolume = this.outputVolume = 0
        },
        verifyPinCode: async function() {
          if (this.pinCodeInput.trim() === this.pinCode) {
            var callSid = this.connection.parameters.CallSid
            if (callSid) {
              this.pinVerifying = true

              try {
                var url = `/amazon/update-sid/${topic.code}/${this.choice || 0}/${show}/${countryCode}/${this.pinCode}/${workerId}/${callSid}`
                var response = await fetch(url, {method: 'POST'})
                var data = await response.json()
              } catch (err) {
                this.pinVerifying = false
                return
              }

              if (data.success) {
                this.callStart = currentTimestamp()
                this.hangupBlocked = true
                this.setStep(5)
              } else {
                this.callError = true
                this.setStep(2, true)
                this.hangUp()
              }
              this.pinVerifying = false
            } else {
              this.callError = true
              this.setStep(2, true)
              this.hangUp()
            }
          } else {
            alert('Incorrect PIN code. Try again.')
          }
        }
      }
    }

  </script>
</head>
<body>
  <h1 id="step0" class="text-center">
    {% if not preview %}&#x{{ topic['emoji'] }};{% endif %}&#x1F4DE;&#x1F4FB;
    <u>Call a Radio Show{% if not preview %} and Talk About {{ topic['name']|title }}{% endif %}</u>
    &#x1F4FB;&#x1F4DE;{% if not preview %}&#x{{ topic['emoji'] }};{% endif %}
  </h1>

  <div class="container" x-data="{show: true}" x-init="show = false" x-show="show">
    <div class="bd-error" style="padding: 15px; margin: 15px">
      <h1 class="text-error is-marginless">
        WARNING: Your web browser is <u>NOT</u> supported. Please use one of the following:
        <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>,
        <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Mozilla Firefox</a>,
        or <a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a>
        to complete this assignment.
      </h1>
    </div>
  </div>

  <section x-data="radioCall()" x-init="init();{% if not debug %} setStep(0){% endif %}" class="container" x-cloak>

    <div id="volume-nav" class="grid" x-show="device !== null && connection !== null">
      <div class="row is-marginless is-paddingless">
        <div class="col-2 is-vertical-align is-right-not-sm">&#x1F3A4;&#x1F399;️&#xFE0F; Mic:</div>
        <div class="col-2 is-vertical-align">
          <progress class="is-full-width" x-bind:value="inputVolume.toString()" min="0" max="0.65"></progress>
        </div>
        <div class="col-1"></div>
        <div class="col-3 is-vertical-align">
          <button
            @click.prevent="hangUp()"
            class="button is-full-width"
            style="margin-top: 5px"
            x-bind:class="{error: !hangupBlocked, dark: hangupBlocked}"
            x-bind:disabled="hangupBlocked"
            x-text="hangupBlocked ? `Continue for ${Math.max(blockHangupSeconds - callDuration - 1, 0)} seconds...` : 'End Call'"
          ></button>
        </div>
        <div class="col-2 is-vertical-align is-right-not-sm">&#x1F509; Speaker:</div>
        <div class="col-2 is-vertical-align">
          <progress class="is-full-width" x-bind:value="outputVolume.toString()" min="0" max="0.65"></progress>
        </div>
      </div>
    </div>

    <div>
      <p>
        This is a <strong>funny assignment</strong> &#x1F602;&#x1F602;&#x1F602; where you'll
        use your web browser to call &#x1F4DE; people on a <em>live</em> radio show. &#x1F4FB;
      </p>

      <p>
        You will talk to the hosts of the radio show about
        {% if preview %}the topic in the assignment.{% else %}
          <strong>your {{ topic['description'] }}</strong>.
          &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% endif %}
      </p>

      <p>
        This assignment will take approximately 5 to 10 minutes to complete.
        &#x1F552;&#x1F552;&#x1F552;
        <br>
        You will have to stay on the call for <em>at least 2 minutes</em>, but you are welcome
        to talk as long as you would like!
      </p>
      <br>

      <strong id="terms"><u>Important Terms &amp; Conditions:</u><br>
        {% if not preview %}<em>(Click each button to accept &amp; continue)</em>{% endif %}</strong>

      <table class="tight">
        <tbody>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1; $scroll('#terms')" x-bind:disabled="{% if preview %}true{% else %}term != 0{% endif %}" class="button primary" x-bind:class="{pulse: term == 0}">
                I agree &#x2714;
              </button>
            </td>
            <td class="bold" x-bind:class="{'text-grey': term > 0}">
              You <u>MUST</u> speak in English.
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 1" class="button primary" x-bind:class="{pulse: term == 1}">
                I have this &#x2714;
              </button>
            </td>
            <td class="bold" x-bind:class="{'text-grey': term > 1}">
              You <u>MUST</u> have a <em>working</em> headset &#x1F3A7; (or speaker &#x1F509;)
                with a <u>microphone</u>. &#x1F3A4;&#x1F399;️&#xFE0F;
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 2" class="button primary" x-bind:class="{pulse: term == 2}">
                I understand &#x2714;
              </button>
            </td>
            <td class="bold" x-bind:class="{'text-grey': term > 2}">
              Your call will be <u>recorded</u> and <u>broadcast</u> on a live Internet radio show &#x1F4FB; (and podcast).
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 3" class="button primary" x-bind:class="{pulse: term == 3}">
               I will not &#x2714;
              </button>
            </td>
            <td x-bind:class="{'text-grey': term > 3, 'text-error': term <= 3}">
              You should <strong><u>NOT</u></strong> mention Amazon Mechanical Turk.
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 4" class="button primary" x-bind:class="{pulse: term == 4}">
                I will &#x2714;
              </button>
            </td>
            <td x-bind:class="{'text-grey': term > 4}">
              You can have any conversation you would like, but <strong>mention
              {% if preview %}the topic in the assignment{% else %}your {{ topic['description'] }}{% endif %}.</strong>
              {% if not preview %}&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% endif %}
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 5" class="button primary" x-bind:class="{pulse: term == 5}">
                I will &#x2714;
              </button>
            </td>
            <td x-bind:class="{'text-grey': term > 5}">
              If no one answers, please leave a voicemail message{% if not preview %} talking about {{ topic['name'] }}{% endif %}.
              {% if not preview %}&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};{% endif %}
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1" x-bind:disabled="term != 6" class="button primary" x-bind:class="{pulse: term == 6}">
                I understand &#x2714;
              </button>
            </td>
            <td x-bind:class="{'text-grey': term > 6}">
              You must have a <strong>good</strong> sense of <strong>humour</strong>. &#x1F602;&#x1F602;&#x1F602;<br>
              <em>You might be made fun of!</em> &#x1F632;&#x1F632;&#x1F632;<br>
              The conversation may be inapproriate or NSFW (not safe for work). &#x1F601;&#x1F51E;&#x1F601;&#x1F51E;<br>
              <strong x-bind:class="{'text-grey': term > 6, 'text-error': term <= 6}">
                If you are a sensitive person please <u>DO NOT</u> continue with this assignment!
              </strong>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <button @click.prevent="term += 1; $nextTick(() => $scroll('#accept-terms-scroll'))" x-bind:disabled="term != 7" class="button primary" x-bind:class="{pulse: term == 7}">
                I understand &#x2714;
              </button>
            </td>
            <td class="italic" x-bind:class="{'text-grey': term > 7}">
              You <strong>may</strong> use a <u>fake name</u>.<br>
              You <strong>do not</strong> have to <u>tell the truth</u>.<br>
              You <strong>may</strong> <u>lie</u> about your <u>personal life</u>.<br>
              You <strong>do not</strong> need to say <u>anything</u> you're <u>uncomfortable</u> with.
            </td>
          </tr>
        </tbody>
      </table>

      <h3 id="accept-terms-scroll" class="text-success" x-show="term >= 8">
        <em>All right! Are you ready to have some fun?!</em>
        &#x1F973; &#x1F92A; &#x{{ topic['emoji']}}; &#x1F4DE; &#x1F4FB; &#x1F602;
      </h3>
      <br>

      <p class="text-center">
        <button class="button big {% if preview %}dark{% else %}primary{% endif %}" @click.prevent="setStep(1)" x-bind:disabled="step > 0 || (term < 8 && !debug)" x-bind:class="{pulse: step == 0 && term == 8}">
          {% if preview %}
            You are currently <em>previewing</em> this assignment. Press Accept to start.
          {% else %}
            I have <u>carefully</u> read, understand and agree to the above terms &amp; conditions.
          {% endif %}
        </button>
      </p>
    </div>

    <div x-show="step >= 1 || debug">
      <hr>
      <h2 id="step1">Step 1: Describe Your {{ topic['description']|title }}
        &#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};&#x{{ topic['emoji'] }};</h2>

      <blockquote>
        Select the type that most closely matches your <u><em>{{ topic['description'] }}</em></u>
        from the {{ topic['chart_name'] }} below.
      </blockquote>

      <table class="striped limit-right-width text-center">
        <caption>{{ topic['chart_name']|title }}</caption>
        <thead>
          <tr>
            <th>Select</th>
            <th>Type</th>
            <th>Diagram</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for choice in topic['choices'] %}
            <tr
              x-bind:class="{'bd-choice': choice === {{ loop.index0|tojson }}}"
              @mouseenter="if (choice === null) { $event.target.classList.add('bd-choice-hover') }"
              @mouseleave="$event.target.classList.remove('bd-choice-hover')"
              @click.prevent="if (choice === null) { choice = {{ loop.index0 }}; setStep(2) }"
            >
              <td>
                <button
                  @click.prevent="if (choice !== null) { choice = {{ loop.index0 }}; setStep(2) }"
                  class="button primary"
                  x-text="choice === {{ loop.index0|tojson }} ? 'Selected' : ('Select {{ choice['name'].split(':')[0] }}')"
                  x-bind:disabled="choice === {{ loop.index0|tojson }}"
                ></button>
              </td>
              <td class="bold">{{ choice['name'] }}</td>
              <td><img class="bd-light" srcset="/static/images/{{ topic['code'] }}/{{ loop.index0 }}.jpg 2x"></td>
              <td class="italic">{{ choice['description'] }}.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <br>

      <p class="italic bold" x-text="choice === null ? 'You must make a choice above to continue.' : `You selected ${topic.choices[choice].name} as your ${topic.description}.`"></p>
    </div>

    <div x-show="step >= 2 || debug">
      <hr>
      <h2 id="step2">Step 2: Make the Call &#x260E;&#xFE0F;&#x260E;&#xFE0F;&#x260E;&#xFE0F;</h2>

      <blockquote>
        Click the button below to place the call in your browser.<br>
        <strong class="text-success">You will need to enable your microphone.</strong>
        &#x1F3A4;&#x1F399;️&#xFE0F;&#x1F3A4;&#x1F399;️&#xFE0F;&#x1F3A4;&#x1F399;️&#xFE0F;
      </blockquote>

      <h3 class="text-error" x-show="callError" x-text="typeof callError === 'string' ? callError : 'An error occurred. Please try again.'"></h3>

      <p class="text-center">
        <button
          @click.prevent="call()"
          class="button big success"
          x-bind:disabled="device === null || connection !== null"
          x-bind:class="{pulse: step == 2 && device !== null && connection === null}"
        >
          &#x1F4DE;&#x1F4DE; Start Call &#x1F4DE;&#x1F4DE;
        </button>
      </p>
    </div>

    <div x-show="step >= 3 || debug">
      <hr>
      <h2 id="step3">Step 3: Repeat the Word &#x1F501;&#x1F501;&#x1F501;</h2>

      <blockquote>
        You will be called and the voice will say a word. Repeat the word after the tone, then stay silent for a few moments.<br>
        When you have successfully done this, click <em>Ready for Step 4</em> below.
      </blockquote>

      <p class="text-center">
        <button @click.prevent="setStep(4)" class="button big primary" x-bind:class="{pulse: step == 3}" x-bind:disabled="step >= 4">Ready for Step 4</button>
      </p>
    </div>

    <div x-show="step >= 4 || debug">
      <hr>
      <h2 id="step4">Step 4: Enter the PIN Code &#x1F511;&#x1F511;&#x1F511;</h2>

      <blockquote>You will be given a PIN code. Enter it below.</blockquote>

      <div class="row">
        <div class="col-3 is-vertical-align is-right-not-sm">
          <label for="pin-code" class="big bold">PIN Code:</label>
        </div>
        <div class="col-9">
          <input
            id="pin-code"
            class="big bold"
            style="max-width: 250px;"
            type="text"
            name="PinCode"
            x-model="pinCodeInput"
            pattern="\d*"
            maxlength="4"
            x-bind:disabled="step != 4 || pinVerifying"
            x-bind:class="{pulse: step == 4 && !pinVerifying}"
          >
        </div>
      </div>
      <br>

      <p class="text-center">
        <button
          @click.prevent="verifyPinCode()"
          class="button big primary"
          x-bind:disabled="step != 4 || pinVerifying"
          x-bind:class="{pulse: step == 4 && !pinVerifying}"
        >Verify PIN Code</button>
      </p>
    </div>

    <div x-show="step >= 5 || debug">
      <hr>
      <h2 id="step5">Step 5: Talk About {{ topic['name']|title }} &#x1F4AC;&#x1F4AC;&#x1F4AC;</h2>

      <blockquote>
        You are being connected to a <em>live</em> radio show. Please mention <em>your {{ topic['description'] }}</em>.
        <br>
        If the call is not answered, please leave a voicemail message about {{ topic['name'] }}.
        <br>
        <em>You may be placed on a brief hold.</em>
      </blockquote>

      <template x-if="choice !== null">
        <table class="limit-right-width text-center">
          <caption>{{ topic['chart_name']|title }}</caption>
          <thead>
            <tr>
              <th>Type</th>
              <th>Diagram</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="italic bold" x-text="topic.choices[choice].name"></td>
              <td>
                <img class="bd-light" x-bind:srcset="`/static/images/${topic.code}/${choice}.jpg 2x`">
              </td>
              <td class="italic" x-text="`${topic.choices[choice].description}.`"></td>
            </tr>
          </tbody>
        </table>
      </template>

      <h3 x-show="!done">
        <em>Enjoy your call! Say whatever you want!
          <br>You can even insult the hosts!</em> &#x1F389;&#x1F389;&#x1F389;
      </h3>

      <h3
        class="text-error"
        x-show="step == 5 && !done && hangupBlocked"
        x-text="`You must stay on the call for at least another ${Math.max(blockHangupSeconds - callDuration - 1, 0)} seconds.`"
      ></h3>

      <h3 class="text-success" x-show="step == 5 && !done && !hangupBlocked">
          When you are done, you can click the <em class="text-error">End Call</em> button above.
      </h3>
    </div>

    <div x-show="step >= 1 || debug">
      <hr>
      <h2 id="done" class="text-success" x-show="done || debug">Congratulations! You are done! &#x1F389;&#x1F389;&#x1F389;</h2>

      <blockquote x-show="done || debug">Click <em>Submit Assignment</em> below.</blockquote>

      <form id="submit-form" method="POST" action="{{ submit_to }}/mturk/externalSubmit">
        <!-- prevent naive form submission -->
        <input type="hidden" name="assignmentId" x-bind:value="done ? assignmentId : ''">
        <input type="hidden" name="PinCode" x-bind:value="pinCode">
        <input type="hidden" name="CallDurationSeconds" x-bind:value="callDuration">
        {% for key, value in geoip.items() %}
          <input type="hidden" name="{{ key.replace('_', ' ').title().replace(' ', '') }}" value="{{ value }}">
        {% endfor %}
        <p class="text-center">
          <button
            class="button big"
            type="submit"
            x-bind:class="{primary: done, dark: !done, pulse: done}"
            x-text="'&#x1F4E5;&#x1F4E5; Submit Assignment ' + (done ? '' : ' (enabled when you are done)') + ' &#x1F4E5;&#x1F4E5;'"
            x-bind:disabled="!done"
            {% if not assignment_id or not submit_to %}
              @click.prevent="
                var formData = new FormData(document.querySelector('#submit-form'))
                var alertString = 'You did not appear to come from Amazon. Not submitting.\nForm data:'
                for (var [key, value] of formData.entries()) {
                  if (key !== 'assignmentId' && value) {
                    alertString += `\n * ${key} = ${JSON.stringify(value)}`
                  }
                }
                alert(alertString)
              "
            {% endif %}
          ></button>
        </p>
      </form>
    </div>

{% if debug %}
<pre>
step: <span x-text="JSON.stringify(step)"></span>
term: <span x-text="JSON.stringify(term)"></span>
choice: <span x-text="JSON.stringify(choice)"></span>
inputVolume: <span x-text="JSON.stringify(inputVolume)"></span>
outputVolume: <span x-text="JSON.stringify(outputVolume)"></span>
pinCode: <span x-text="JSON.stringify(pinCode)"></span>
pinCodeInput: <span x-text="JSON.stringify(pinCodeInput)"></span>
pinVerifying: <span x-text="JSON.stringify(pinVerifying)"></span>
callStart: <span x-text="JSON.stringify(callStart)"></span>
callEnd: <span x-text="JSON.stringify(callEnd)"></span>
callDuration:  <span x-text="JSON.stringify(callDuration)"></span>
hangupBlocked: <span x-text="JSON.stringify(hangupBlocked)"></span>
done: <span x-text="JSON.stringify(done)"></span>
=== Constants ===
countryCode: <span x-text="JSON.stringify(countryCode)"></span>
blockHangupSeconds: <span x-text="JSON.stringify(blockHangupSeconds)"></span>
show: <span x-text="JSON.stringify(show)"></span>
topic: <span x-text="`${JSON.stringify(topic['code'])} ...`"></span>
assignmentId: <span x-text="JSON.stringify(assignmentId)"></span>
workerId: <span x-text="JSON.stringify(workerId)"></span>
hitId: <span x-text="JSON.stringify(hitId)"></span>
</pre>
{% endif %}

  </section>
</body>
</html>
